body {
    background-color: #71738F;
}

.footer {
    background-color: #3C3D4F;
}

.header-color {
    background-color: #CFBB70;
}

.background-opacity {
    background-color: rgba(255, 255, 255, 0.5);
}

.link-color {
    color: #7076cf;
}

.campo input {
    width: 100%;
    border: 0px;
    padding-left: 10px;
    border-radius: 5px;
}

.campo input:focus {
    outline-width: 1px;
    outline-color: rgb(112, 118, 207);
}

.campo textarea {
    width: 100%;
    border: 0px;
    padding-left: 5px;
    border-radius: 5px;
}

.campo textarea:focus {
    outline-width: 1px;
    outline-color: rgb(112, 118, 207);
}

/* Sobre escritura bootstrap */
.card-text {
    background-color: rgba(112, 118, 207, 0.4);
    border-radius: 5px;
    min-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}