{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="offset-1 col-10 p-5">
        <h5 class="text-center">¡Bienvenidos a OnlyFlans!</h5>
        <br>
        <p class="text-center fs-6">
            En Only Flans, nos apasiona compartir la dulzura y la delicia de los flanes con el mundo. Nos
            dedicamos a ofrecer los flanes más exquisitos y auténticos, elaborados con ingredientes frescos y de la más
            alta calidad.
            <br><br>
            Nuestra historia se remonta a 2022, cuando Willy Wonka decidió
            compartir su amor por los postres con una receta familiar de flan que había pasado de generación en
            generación. Desde entonces, hemos crecido y perfeccionado nuestras recetas, manteniendo siempre el
            compromiso con la tradición y la excelencia.
            <br><br>
            Nos enorgullece decir que nuestros flanes no solo son deliciosos, sino también saludables. Nos esforzamos
            por utilizar ingredientes naturales y evitar aditivos artificiales siempre que sea posible, para que puedas
            disfrutar de nuestros postres con total tranquilidad.
            <br><br>
            En Only Flans, creemos en compartir momentos especiales alrededor de la mesa, y qué mejor manera
            de hacerlo que con un delicioso flan casero. Ya sea para celebrar una ocasión especial o simplemente para
            darse un capricho, nuestros flanes son la elección perfecta para cualquier ocasión.
            <br><br>
            ¡Gracias por visitar Only Flans y ser parte de nuestra dulce aventura! Esperamos que disfrutes de
            nuestros flanes tanto como nosotros disfrutamos haciéndolos para ti.
            <br><br>
            ¡Dulces saludos,
            <br>
            El equipo de OnlyFlans
        </p>
    </div>
</div>
{% endblock %}