{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% for flan in private_flans %}

    <div
        class="offset-1 col-10 offset-sm-2 col-sm-8 offset-md-0 col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center align-items-stretch my-2">
        <div class="card my-2">
            <img src="{{flan.image_url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">
                    {{flan.name}}
                </h5>
                <p class="card-text p-1">
                    {{flan.description}}
                </p>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}